.bg-light {
    background-color: white!important;
}

.navbarHeader {
    margin: 0;
    padding: 0;
}

/* New Branch for Design */

.navbar.navbar-light.bg-light {
    background-color: white;
    display: flex;
    flex-direction: row;
}

.left {
    flex: 1;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.right {
    flex: 1;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}