.bg-light {
    background-color: white !important;
}

.navbarHeader {
    margin: 0;
    padding: 0;
    width: 100%;
}

/* New Branch for Design */

.nav.navbar.navbar-light.bg-light {
    background-color: white !important;
    width: 100%;
    display: flex;
    width: fit-content;
    flex-direction: row;
}

.left {
    
}

.right {
    left: 50%;
}