.homeMid-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.homeMid-heading {
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    margin-left: 7.5%;
}

.homeMid-headingBlock {
    position: absolute;
    width: 7px;
    height: 40px;
    background: #3AD0B5;
}

.homeMid-headingText {
    position: absolute;
    width: 27%;
    height: .05%;
    margin-left: 2%;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    /* identical to box height */


    color: #626161;
}

.homeMid-headingDivider {
    position: absolute;
    width: 85%;
    height: 2px;
    left: 9.5%;
    margin-top: 9%;

    background: #E0E0E0;
}

.homeMid-content {
    display: flex;
    flex-direction: row;
    margin-top: 7%;
    margin-left: 7.5%;
}

.homeMid-textBlock {
    position: absolute;
    width: 52%;
    height: 22%;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;

    color: #5B5959;
}

.homeMid-imgBlock {
    position: absolute;
    width: 30%;
    height: 45%;
    left: 62%;
}